<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sistema Guías OET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="barra-logo">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="pull-left">
                        <img src="~/images/logo.png" alt="Logo OET" class="img-responsive logo-oet" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-default navbar-fixed-top" style="margin-top:80px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="container body-content">
            @RenderBody()
        </div>
        <div class="push"></div>
    </div>
    <div class="footer">
        <div class="cuerpo-footer">
            <div class="container">
                <footer>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="text-center"><a href="#">Contáctenos</a> | OET &copy; Copyright @DateTime.Now.Year - Todos los derechos reservados. </h6>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h6 class="text-center"> Por favor reporte cualquier problema o solicite asistencia a <a href="mailto:contacts.admin@oet.ac.cr">contacts.admin@oet.ac.cr</a></h6>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
