@model GuiasOET.Models.DIASLIBRES
@using PagedList.Mvc;
@using PagedList;
@using System.Diagnostics;

@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    ViewBag.Title = "Módulo de Asignación de Días Libres";
}

<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <label>Guía interno:</label>
    </div>

    <div class="col-md-9" col-sm-offset-1>
        @Html.DisplayFor(modelo => modelo.guias1.NOMBREEMPLEADO)
        @Html.DisplayFor(modelo => modelo.guias1.APELLIDO1)
        @Html.DisplayFor(modelo => modelo.guias1.APELLIDO2)
    </div>
</div>
<div class="row">

    <div class="col-lg-3">
        <label>Estación:</label>
    </div>

    <div class="col-md-9" col-sm-offset-1>
        @Html.DisplayFor(modelo => modelo.guias1.NOMBREESTACION)
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("AsignarRol", "AsignacionDiasLibres", FormMethod.Get))
            {
            <p>
                Días libres asignados<br />
                Criterio de búsqueda: Desde: <input type="date" name="fechaDesde" value="@ViewBag.CurrentFilter1">
                Hasta: <input type="date" name="fechaHasta" value="@ViewBag.CurrentFilter2">
                <input type="submit" value="Buscar" class="btn btn-default" style="background-color: #7BC143; color:white;" />
            </p>

        }
    </div>
</div>


<div class="table-responsive">
    <table class="table">

        <div class="row">
            <div class="col-lg-12">
                <tr>
                    <th>

                        @Html.ActionLink("Fecha", "AsignarReservacionDetallada", new { sortOrder = ViewBag.Fecha, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>

                    <th>
                        @Html.ActionLink("Tipo", "AsignarReservacionDetallada", new { sortOrder = ViewBag.Tipodialibre, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>

                    <th>
                    </th>

                </tr>
                <tr>
                    <th>
                        <p>
                            <input type="date" step="7" min=2016-01-04 name="semanaABuscar"> @ViewBag.semanaABuscar
                        </p>
                    </th>
                    <th>
                    </th>
                    <th>
                        <a href="@Url.Action("AsignarRol")">
                            <span class="btn btn-default fa fa-plus" aria-hidden="true" title="Agregar" style="background-color: #7BC143; color:white;"></span>
                        </a>
                    </th>
                </tr>
                @for (int i = 0; i < Model.totalRolDiaLibre.Count; ++i)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.totalRolDiaLibre.ElementAt(i).FECHA)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.totalRolDiaLibre.ElementAt(i).TIPODIALIBRE)
                        </td>
                        <td>
                            <a href="@Url.Action("EliminarRol", new { id = Model.totalRolDiaLibre.ElementAt(i).CEDULAINTERNO } )">
                                <span class="btn btn-default fa fa-trash-o" aria-hidden="true" title="Eliminar" style="background-color: #F26631; color:white;"></span>
                            </a> 
                         </td>
                        
                    </tr>
                }
            </div>
        </div>
    </table>
</div>


    Página @(ViewBag.PageCount < ViewBag.PageNumber ? 0 : ViewBag.PageNumber) de @ViewBag.PageCount
    @Html.PagedListPager(Model.totalRolDiaLibre, page => Url.Action("AsignarDiasLibresDetallada",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
