@model GuiasOET.Models.DIASLIBRES
@using PagedList.Mvc;
@using PagedList;
@using System.Diagnostics;
@using MvcFlashMessages

@{
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
    ViewBag.Title = "Módulo de Asignación de Días Libres";
}

<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-3">
    </div>
</div>

<div class="row">
    <div class="col-md-9">
    </div>
    <div class="col-md-3 flash-messages flash-message" , style="color:#7BC143; font-weight:bold; position:center" }>
        @Html.RenderFlash()
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-3">
        <label>Guía interno:</label>
    </div>

    <div class="col-md-9" col-sm-offset-1>
        @Html.DisplayFor(modelo => modelo.guias1.NOMBREEMPLEADO)
        @Html.DisplayFor(modelo => modelo.guias1.APELLIDO1)
        @Html.DisplayFor(modelo => modelo.guias1.APELLIDO2)
    </div>
</div>
<div class="row">

    <div class="col-lg-3">
        <label>Estación:</label>
    </div>

    <div class="col-md-9" col-sm-offset-1>
        @Html.DisplayFor(modelo => modelo.guias1.NOMBREESTACION)
    </div>

</div>
<div class="row">
    <div class="col-lg-12">
        <br />
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @using (Html.BeginForm("AsignarDiasLibresDetallada", "AsignacionDiasLibres", FormMethod.Get))
            {
            <p>
                Días libres asignados<br />
                Criterio de búsqueda: Desde: <input type="date" name="fechaInicio" value="@ViewBag.CurrentFilter1">
                Hasta: <input type="date" name="fechaFin" value="@ViewBag.CurrentFilter2">
                <input type="hidden" name="ident" value=@ViewBag.identificacion2>
                <input type="submit" value="Buscar" class="btn btn-default" style="background-color: #7BC143; color:white;" />
            </p>
        }
    </div>
</div>


<div class="table-responsive">
    <table class="table">

        <div class="row">
            <div class="col-lg-12">
                <tr>
                    <th>

                        <label>Fecha</label>
                    </th>

                    <th>
                        <label>Tipo</label>
                    </th>
                    <th>
                    </th>

                </tr>

                <tr>
                    @using (Html.BeginForm("AsignarRol", "AsignacionDiasLibres", FormMethod.Get))
                    {
                        <th>
                            <p>
                                <input type="hidden" name="ide" value=@ViewBag.identificacion>
                                <input type="date" name="fechaDesde" value=@ViewBag.fechaVacacion>
                            </p>
                        </th>
                            <th>
                                <p>
                                    <input type="text" value="Vacaciones" name="tipo" />
                                </p>
                            </th>
                            <th>
                                <p>
                                    <input type="submit" value="+" class="btn btn-default" title="Agregar" style="background-color: #7BC143; color:white;font-weight: bold;" />
                                </p>
                            </th>

                    }
                </tr>

                @for (int i = 0; i < Model.totalRolDiaLibre.Count; ++i)
                {
                    DateTime var = Convert.ToDateTime(Model.totalRolDiaLibre.ElementAt(i).FECHA);
                    string fecha = var.ToString("dd/MM/yyyy");
                    ViewBag.fechaDiaLibre = fecha;
                    <tr>
                        <td>
                            @ViewBag.fechaDiaLibre
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.totalRolDiaLibre.ElementAt(i).TIPODIALIBRE)
                        </td>
                        <td>
                            <a href="@Url.Action("EliminarRol", new { id = Model.totalRolDiaLibre.ElementAt(i).CEDULAINTERNO, fecha = Model.totalRolDiaLibre.ElementAt(i).FECHA } )">
                                <span class="btn btn-default fa fa-trash-o" aria-hidden="true" title="Eliminar" style="background-color: #F26631; color:white;"></span>
                            </a>
                        </td>

                    </tr>
                }
            </div>
        </div>
    </table>
</div>


    Página @(ViewBag.PageCount < ViewBag.PageNumber ? 0 : ViewBag.PageNumber) de @ViewBag.PageCount
    @Html.PagedListPager(Model.totalRolDiaLibre, page => Url.Action("AsignarDiasLibresDetallada",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
