@model GuiasOET.Models.AsignacionModelos

@{
    Layout = null;
}

<tr id="asignado@(ViewBag.rowCount)">
    <td>
        @Html.DisplayFor(modelItem => Model.guiasDisponibles.ElementAt(0).NOMBREEMPLEADO)
        @Html.Raw(" ")
        @Html.DisplayFor(modelItem => Model.guiasDisponibles.ElementAt(0).APELLIDO1)
        @Html.Raw(" ")
        @Html.DisplayFor(modelItem => Model.guiasDisponibles.ElementAt(0).APELLIDO2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.guiasDisponibles.ElementAt(0).NOMBREESTACION)
    </td>
    <td>
        @Html.DisplayFor(modelItem => Model.guiasDisponibles.ElementAt(0).TIPOEMPLEADO)
    </td>
    <td>
        @ViewBag.turnoAsignado
    </td>
    <td>
        <a class="btn btn-default" onclick="eliminarGuia(@(Model.guiasDisponibles.ElementAt(0).CEDULA),@(ViewBag.reserva),$('#asignado@(ViewBag.rowCount)'));" style="background-color: #F26631; color:white;">Eliminar</a>
    </td>
</tr>