@model GuiasOET.Models.AsignacionModelos
@using PagedList.Mvc;
@using MvcFlashMessages;
@using PagedList;
@using System.Diagnostics;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Notificaciones";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<script>
		    function CancelarNotificacion(id)
              {

                $.ajax({
                type: 'POST',
                    url: '@Url.Action("CancelarNotificacion")',
                    data: 'id=' + id,
                    success: function(data) {
                        $('td:contains("'+id+'")').parent().css("background","green ");;
                        $('td:contains("' + id + '")').parent().find(':nth-child(8) a.deshabilitar').remove();
                    },
                });

               }

</script>



<script>
    function ConfirmarNotificacion(id)
    {
            $.ajax({
            type: 'POST',
            url: '@Url.Action("ConfirmarNotificacion")',
            data: 'id=' + id,
            success: function (data) {
                $('td:contains("' + id + '")').parent().find(':nth-child(8) a.deshabilitar').remove();
                alert("Confirmación Exitosa");
          },
        });
    }
</script>


@functions
    {
    public int[] reservaAsignada(string numeroReservacion)
    {
        int i = 0;
        int[] asignacion = new int[2];

        while (i < Model.reservacionesAsignadas.Count && Model.reservacionesAsignadas.ElementAt(i).NUMERORESERVACION.ToString() != numeroReservacion)
        {
            ++i;
        }

        if (i < Model.reservacionesAsignadas.Count)
        {
            asignacion[0] = 1;
            asignacion[1] = i;
        }
        else
        {
            asignacion[0] = 0;
            asignacion[1] = 0;
        }

        return asignacion;
    }
}

<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<div class="row">
</div>
<br>

<div class="row">

    <div class="col-md-9- col-md-offset-4 flash-messages flash-message" , style="color:#7BC143; font-weight:bold; position:center" }>
        @Html.RenderFlash()

    </div>

    <div class="col-lg-12">

        @using (Html.BeginForm("Notificaciones", "AsignacionReservaciones", FormMethod.Get))
        {
            <p>
                Lista de Reservaciones<br />

                Criterio de búsqueda: Desde: <input type="date" name="fechaDesde" value="@ViewBag.CurrentFilter1">
                Hasta: <input type="date" name="fechaHasta" value="@ViewBag.CurrentFilter2">
                <input type="submit" value="Buscar" class="btn btn-default" style="background-color: #7BC143; color:white;" />
            </p>
        }
    </div>
</div>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Reservacion", "Notificaciones", new { sortOrder = ViewBag.ReservacionSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Nombre", "Notificaciones", new { sortOrder = ViewBag.NombreSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Estación", "Notificaciones", new { sortOrder = ViewBag.EstacionSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Personas", "Notificaciones", new { sortOrder = ViewBag.PersonasSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                @Html.ActionLink("Fecha", "Notificaciones", new { sortOrder = ViewBag.FechaSortParm, currentFilter = ViewBag.CurrentFilter })
            </th>
            <th>
                Hora
            </th>
            <th>
                Guías Asignados
            </th>
        </tr>

        @for (int i = 0; i < Model.totalReservaciones.Count; ++i)
        {
            if (reservaAsignada(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION).ElementAt(0) == 1)
            {
                <tr id="asignado@(i)">
                    <td>@Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(i).NUMERORESERVACION)</td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(i).NOMBRESOLICITANTE)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(i).NOMBREESTACION)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(i).NUMEROPERSONAS)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(i).FECHAENTRA)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(i).HORA)
                    </td>
                    <td>
                        @if (reservaAsignada(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION).ElementAt(0) == 1)
                        {
                            for (int x = 0; x < Model.empleados.ElementAt(reservaAsignada(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION).ElementAt(1)).Count(); ++x)
                            {
                                @Html.DisplayFor(modelItem => Model.empleados.ElementAt((reservaAsignada(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION).ElementAt(1))).ElementAt(x).NOMBREEMPLEADO)
                                @Html.Raw(" ")
                                @Html.DisplayFor(modelItem => Model.empleados.ElementAt((reservaAsignada(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION).ElementAt(1))).ElementAt(x).APELLIDO1)
                                @Html.Raw(" ")
                                @Html.DisplayFor(modelItem => Model.empleados.ElementAt((reservaAsignada(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION).ElementAt(1))).ElementAt(x).APELLIDO2)
                                <br />
                            }
                        }

                    </td>
                    <td>
                        @if (reservaAsignada(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION).ElementAt(0) == 1)
                        {
                            @Html.ActionLink("Ver Guías", "AsignarReservacionDetallada", new { id = Model.totalReservaciones.ElementAt(i).NUMERORESERVACION }, new { @class = "btn btn-default", @style = "background-color: #7BC143; color:white;" })
                        }
                        @if (Model.totalReservaciones != null)
                        {
                            string fechaActual = DateTime.Now.ToString("dd/MM/yyyy");
                            string char1dia = fechaActual.ElementAt(0).ToString();
                            string char2dia = fechaActual.ElementAt(1).ToString();
                            string mes = fechaActual.ElementAt(3).ToString() + fechaActual.ElementAt(4).ToString();
                            string ano = fechaActual.ElementAt(6).ToString() + fechaActual.ElementAt(7).ToString() + fechaActual.ElementAt(8).ToString() + fechaActual.ElementAt(9).ToString();
                            string diaStr = char1dia + char2dia;
                            int dia = Int32.Parse(diaStr);
                            if (dia == 30)
                            {
                                dia = 31;
                            }
                            else
                            {
                                dia = dia + 1;
                            }
                            string nuevoDia = "";
                            if (dia == 1 || dia == 2 || dia == 3 || dia == 4 || dia == 5 || dia == 6 || dia == 7)
                            {
                                nuevoDia = "0" + dia.ToString();
                            }
                            else
                            {
                                nuevoDia = dia.ToString();
                            }

                            string fechaNuevaDeDiaAnterior = nuevoDia + "/" + mes + "/" + ano;
                            Console.Write(fechaNuevaDeDiaAnterior);
                            string fechaReservacion = String.Format("{0:dd/MM/yyyy}", Model.totalReservaciones.ElementAt(i).FECHAENTRA).Trim();
                            Console.Write(fechaReservacion);
                            Console.Write(Model.totalReservaciones.ElementAt(i).CONFIRMACION);


                            if (fechaReservacion == fechaNuevaDeDiaAnterior && Model.totalReservaciones.ElementAt(i).CONFIRMACION != 1)
                            {
                                     <a class="btn btn-default fa fa-check deshabilitar" aria-hidden = "true" id="Confirmar@(i)"  title = "Confirmar" onclick="ConfirmarNotificacion('@(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION)');" style="background-color: #7BC143; color:white;"></a>


                                        <a class="btn btn-default fa fa-trash-o deshabilitar" aria-hidden = "true" id="Cancelar@(i)" title = "Cancelar" onclick="CancelarNotificacion('@(Model.totalReservaciones.ElementAt(i).NUMERORESERVACION)');" style="background-color: #F26631; color:white;"></a>

            }
        }
                    </td>
                </tr>
            }
        }
    </table>
</div>



<br />

        Página @ViewBag.PageNumber de @ViewBag.TotalPages
        @Html.PagedListPager((IPagedList)ViewBag.MessagesInOnePage,
page => Url.Action("Notificaciones", new { page, sortOrder = ViewBag.CurrentSort, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 }))