@model GuiasOET.Models.ReportesModelo
@using System.Diagnostics;

@{
    Layout = null;
}



<div class="table-responsive">
    <table class="table" id="tablaDiasLibres">
        <thead>
            <tr>
                <th>
                    Guias Internos & Externos
                </th>
                <th>
                    <label for="LUNES">Lunes   @ViewBag.fechaLunes</label>
                </th>
                <th>
                    <label for="MARTES">Martes  @ViewBag.fechaMartes</label>
                </th>
                <th>
                    <label for="MIERCOLES">Miercoles  @ViewBag.fechaMiercoles</label>
                </th>
                <th>
                    <label for="JUEVES">Jueves @ViewBag.fechaJueves</label>
                </th>
                <th>
                    <label for="VIERNES">Viernes @ViewBag.fechaViernes</label>
                </th>
                <th>
                    <label for="SABADO">Sabado @ViewBag.fechaSabado</label>
                </th>
                <th>
                    <label for="DOMINGO">Domingo @ViewBag.fechaDomingo</label>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                string fecha = DateTime.Now.ToString("MM/dd/yyyy");

                for (int j = 0; j < Model.empleadosDiasLibres.Count(); ++j)
                {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model.empleadosDiasLibres.ElementAt(j).NOMBREEMPLEADO)
                            @Html.DisplayFor(modelItem => Model.empleadosDiasLibres.ElementAt(j).APELLIDO1)
                            @Html.DisplayFor(modelItem => Model.empleadosDiasLibres.ElementAt(j).APELLIDO2)
                        </td>

                        @for (int i = 0; i < 7; ++i)
                        {

                            <td>

                                @switch (i)
                                {
                                    case 0:
                                        fecha = @ViewBag.fechaLunes;
                                        break;
                                    case 1:
                                        fecha = @ViewBag.fechaMartes;
                                        break;
                                    case 2:
                                        fecha = @ViewBag.fechaMiercoles;
                                        break;
                                    case 3:
                                        fecha = @ViewBag.fechaJueves;
                                        break;
                                    case 4:
                                        fecha = @ViewBag.fechaViernes;
                                        break;
                                    case 5:
                                        fecha = @ViewBag.fechaSabado;
                                        break;
                                    default:
                                        fecha = @ViewBag.fechaDomingo;
                                        break;

                                }

                                @if (Model.diasLibres.ElementAt(j).Count() == 0)
                                {
                                    @Html.Raw("-")
                                }
                                else
                                {
                                    int contador = 0;

                                    DateTime fechaDLibre = Model.diasLibres.ElementAt(j).ElementAt(contador).FECHA;
                                    string fechaDiaLibre = String.Format("{0:MM/dd/yyyy}", fechaDLibre).Trim();
                                    while (contador < Model.diasLibres.ElementAt(j).Count() && fechaDiaLibre != fecha)
                                    {
                                        Debug.WriteLine("estoy en el while");
                                        fechaDiaLibre = String.Format("{0:MM/dd/yyyy}", Model.diasLibres.ElementAt(j).ElementAt(contador).FECHA).Trim();
                                        ++contador;
                                    }
                                    if (contador < Model.diasLibres.ElementAt(j).Count())
                                    {
                                        @Html.DisplayFor(modelItem => Model.diasLibres.ElementAt(j).ElementAt(contador).TIPODIALIBRE);
                                    }
                                    else
                                    {
                                        @Html.Raw("-")
                                    }
                                }

                            </td>
                        }
                    </tr>

                }
            }
        </tbody>
    </table>
</div>


