@model GuiasOET.Models.ReportesModelo
@using System.Diagnostics;

@{
    Layout = null;
}

@functions
    {
    public int[] reservaAsignada(string numeroReservacion)
    {
        int i = 0;
        int[] asignacion = new int[2];

        while (i < Model.reservacionesAsignadas.Count && Model.reservacionesAsignadas.ElementAt(i).NUMERORESERVACION.ToString() != numeroReservacion)
        {
            ++i;
        }

        if (i < Model.reservacionesAsignadas.Count)
        {
            asignacion[0] = 1;
            asignacion[1] = i;
        }
        else
        {
            asignacion[0] = 0;
            asignacion[1] = 0;
        }

        return asignacion;

    }


    public int cantidadPersonasAtendidas(List<GuiasOET.Models.GUIAS_RESERVACION> reservaciones)
    {
        int contadorPersonas = 0;

        for (int i = 0; i < reservaciones.Count(); ++i)
        {
            ++contadorPersonas;
        }

        return contadorPersonas;

    }


}

<div class="table-responsive">
    <table class="table">

        <div class="row">
            <div class="col-lg-12">
                <tr>
                    <th>
                        @Html.ActionLink("Fecha", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.ReservacionSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        @Html.ActionLink("Pax", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.NombreSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        @Html.ActionLink("Clientes", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.EstacionSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>

                    <th>
                        @Html.ActionLink("Reservaciones", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.PersonasSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        @Html.ActionLink("Tour", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.FechaSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        Hora
                    </th>
                    <th>
                        Guías Asignados
                    </th>
                </tr>

                @if (Model.fechasReservaciones != null)
                {

                    int contador = 0;
                    int contadorAuxiliar = 0;
                    string hilera = "";

                    for (int i = 0; i < Model.fechasReservaciones.Count; ++i)
                    {
                       DateTime feD = Model.fechasReservaciones.ElementAt(i);
                        Debug.WriteLine("fecha es: " + feD);

                    <tr>
                        <td>
                            
                            @Html.Raw(feD)
                        </td>
                        <td>
                           @while (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                           {
                               
                               hilera = Model.subTotales.ElementAt(contador);
                               int indice = 0;
                               int numero = 0;
                               string parteHilera = "";
                               while (indice < hilera.Length)
                               {
                                   parteHilera = parteHilera + hilera[indice];
                                   numero = Int32.Parse(parteHilera);
                                   if (hilera[indice] == '-')
                                   {
                                    @Html.Raw(numero)
                                       parteHilera = "";

                                   }
                               }

                               ++contador;

                               //@Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMEROPERSONAS)

                           }

                            contadorAuxiliar = contador;
                            contador = 0;
                            
                        </td>
                        @while (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                        {
                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NOMBRESOLICITANTE)
                            @Html.Raw(" ")
                            ++contador;
                        }

                        contadorAuxiliar = contador;
                        contador = 0;

                        <td>
                            @while (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                            {
                                @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION )
                                @Html.Raw(" ")
                                ++contador;
                            }

                            contadorAuxiliar = contador;
                            contador = 0;
                        </td>
                        <td>
                            @while (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                            {
                                @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION)
                                @Html.Raw(" ")
                                ++contador;
                            }
                        </td>

                        contadorAuxiliar = contador;
                        contador = 0;
                        <td>
                            @while (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                            {
                                @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).HORA)
                                @Html.Raw(" ")
                                ++contador;
                            }

                        </td>
                        <td>
                  
                            @while (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                            {
                                @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).HORA)
                                @Html.Raw(" ")
                                ++contador;
                            }
                        </td>
                    </tr>

        
                    }
                }

            </div>
        </div>
    </table>
</div>