@model GuiasOET.Models.AsignacionModelos
@using PagedList.Mvc;
@using PagedList;
@using System.Diagnostics;


@{
    ViewBag.Title = "Reportes de Reservaciones";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";
}

<script>
    function Generar(tipoU, fechaDesde, fechaHasta) {
      
        if (tipoU.val() == "Personas Atendidas") {
            $('#enlace_pdf').attr('href', '@Url.Action("PDFReporteReservaciones")' + '?fechaDesde=' + fechaDesde.val() + '&fechaHasta=' + fechaHasta.val() + '&reportesReservaciones=' + false);
            PersonasAtendidas(fechaDesde.val(), fechaHasta.val());
          
        } else {
            $('#enlace_pdf').attr('href', '@Url.Action("PDFReporteReservaciones")' + '?fechaDesde=' + fechaDesde.val() + '&fechaHasta=' + fechaHasta.val() + '&reportesReservaciones=' + true);
                Reservaciones(fechaDesde.val(), fechaHasta.val());
            }

        }


        function PersonasAtendidas(fechaDesde, fechaHasta) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("PersonasAtendidas")',
            data: 'fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta,
            success: function (data) {
                $('#tablaReservaciones').empty();
                $('#tablaReservaciones').append(data);
                },
        });

        }

        function Reservaciones(fechaDesde, fechaHasta) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("Reservaciones")',
            data: 'fechaDesde=' + fechaDesde + '&fechaHasta=' + fechaHasta,
            success: function (data) {
                $('#tablaReservaciones').empty();
                $('#tablaReservaciones').append(data);
                },
        });

        }

        function generarTipo(tipo) {

            if (tipo == "PDF") {
                var TableData = new Array();
                var cadena = "";


                document.write( $('#tablaReservaciones tr:last').get(0).Reservaciones );
                //generarReportePDF(TableData);
            } else {

            }
        }

        function generarReportePDF(TableData) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("generarReportePDF")',
            data: 'datosTabla=' + TableData,
            success: function (data) {

                },
        });
        }



</script>


<div class="row">
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-lg-3">
    </div>
</div>
<br>




<div class="row">
    <div class="col-md-1">
        <label>Tipo: </label>
    </div>
    <div class="col-md-3">
        @Html.RadioButton("tipoReporte", "Personas Atendidas", new { id = "tipoReporte_1" })
        <label for="tipoReporte_1">Personas Atendidas</label>
    </div>

    <div class="col-md-8">
        @using (Html.BeginForm("AsignarReservacion", "AsignacionReservaciones", FormMethod.Get))
            {
            <p>
                Desde: <input type="date" id="fechaD" name="fechaDesde" value="@ViewBag.CurrentFilter1">
                &nbsp &nbsp Hasta: <input type="date" id="fechaH" name="fechaHasta" value="@ViewBag.CurrentFilter2">
                &nbsp &nbsp <a class="btn btn-default" onclick="Generar($('input:radio[name=tipoReporte]:checked'), $('#fechaD'),  $('#fechaH'));" style="background-color: #7BC143; color:white;">Generar</a>
            </p>

        }
    </div>

</div>
<div class="row">
    <div class="col-md-3 col-sm-offset-1">
        @Html.RadioButton("tipoReporte", "Reservaciones", new { id = "tipoReporte_2" })
        <label for="tipoReporte_2">Reservaciones</label>
    </div>

    <div class="col-md-8">
       
</div>

</div>
<br>
<br>



<div class="btn-group">
    <a href="#" class="btn btn-default">Reporte de Reservaciones</a>
    <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li>@Html.ActionLink("PDF", "PDFReporteReservaciones", null, new { id = "enlace_pdf" })</li>
    </ul>
</div>

<br />
<br />
<div class="table-responsive">
    <table class="table" id="tablaReservaciones">
        </table>
 </div>




