@model GuiasOET.Models.ReportesModelo
@using System.Diagnostics;

@{
    Layout = null;
}

@functions
    {
    public int[] reservaAsignada(string numeroReservacion)
    {
        int i = 0;
        int[] asignacion = new int[2];

        while (i < Model.reservacionesAsignadas.Count && Model.reservacionesAsignadas.ElementAt(i).NUMERORESERVACION.ToString() != numeroReservacion)
        {
            ++i;
        }

        if (i < Model.reservacionesAsignadas.Count)
        {
            asignacion[0] = 1;
            asignacion[1] = i;
        }
        else
        {
            asignacion[0] = 0;
            asignacion[1] = 0;
        }

        return asignacion;

    }


    public int cantidadPersonasAtendidas(List<GuiasOET.Models.GUIAS_RESERVACION> reservaciones)
    {
        int contadorPersonas = 0;

        for (int i = 0; i < reservaciones.Count(); ++i)
        {
            ++contadorPersonas;
        }

        return contadorPersonas;

    }


}

<div class="table-responsive">
    <table class="table" id="tabla">

        <div class="row">
            <div class="col-lg-12">
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Pax
                    </th>
                    <th>
                        Clientes
                    </th>

                    <th>
                        Reservaciones
                    </th>
                    <th>
                        Tour
                    </th>
                    <th>
                        Hora
                    </th>
                    <th>
                        Guías Asignados
                    </th>
                </tr>
                  
                

                @if (Model.fechasReservaciones != null)
                {
                    int contadorGeneral = 0;
                    int contador = 0;
                    int contadorAuxiliar = 0;
                    string hilera = "";
                    decimal totalPersonas = 0;
                    bool indicador = false;
                    bool indicadorDos = false;
                    bool indicadorTres = false;
                    bool indicadorCuatro = false;
                    bool indicadorCinco = false;
                    bool indicadorSeis = false;
                    String formatoFecha = "";
                    int indiceReservacionesAsignadas = 0;
                    int indiceEmpleados = 0;
                    bool indicadorEmpleado = false;

                    for (int i = 0; i < Model.fechasReservaciones.Count; ++i)
                    {
                        DateTime feD = Model.fechasReservaciones.ElementAt(i);
                        formatoFecha = String.Format("{0:d/M/yyyy}", feD).Trim();
                        totalPersonas = 0;
                        contador = contadorGeneral;
                        contadorAuxiliar = contadorGeneral;
                        indicador = false;
                        indicadorDos = false;
                        indicadorTres = false;
                        indicadorCuatro = false;
                        indicadorCinco = false;
                        indicadorSeis = false;

                        string style = Model.listaAsociacion.ElementAt(contador).Equals(-1) ? "background-color:Yellow" : null;

                        <tr style="@style">

                            <td>
                               
                                @Html.Raw(formatoFecha)
                                
                            </td>
                            <td>

                                @while (contador < Model.totalReservaciones.Count() && indicador == false)
                                {
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                           

                                            hilera = Model.subTotales.ElementAt(contador);
                                            Debug.WriteLine("la hilera tiene esto: " + hilera);

                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            @Html.Raw(": ")
                                            <br />

                                            List<int> numbers = new List<int>(Array.ConvertAll(hilera.Split('-'), int.Parse));
                                           for (int j = 0; j < numbers.Count(); ++j)
                                            {
                                                int a = numbers.ElementAt(j);
                                                @Html.Raw(numbers.ElementAt(j))
                                                @Html.Raw(" ")
                                                totalPersonas = totalPersonas + numbers.ElementAt(j);

                                            }
                                            <br />
                                            ++contador;

                                        }
                                        else
                                        {
                                            contadorGeneral = contador;
                                            contador = contadorAuxiliar;
                                            indicador = true;
                                            @Html.Raw("Total Personas: " + totalPersonas)
                                            @Html.Raw(" ")
                                            
                                        }
                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contadorGeneral = contador;
                                    @Html.Raw("Total Personas: " + totalPersonas)
                                    @Html.Raw(" ")
                                    contador = contadorAuxiliar;
                                    indicador = true;
                                }



                            </td>
                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorDos == false)
                                {

                                   
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            @Html.Raw(": ")
                                            <br />
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NOMBRESOLICITANTE)
                                        @Html.Raw(" ")
                                            ++contador;
                                        }
                                        else
                                        {
                                            contador = contadorAuxiliar;
                                            indicadorDos = true;

                                        }
                                   
                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorDos = true;

                                }


                            </td>
                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorTres == false)
                                {
                                    
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


      
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION)
                                            @Html.Display(" ")
                                    
                                            <br />
                                            ++contador;
                                        }
                                        else
                                        {

                                            contador = contadorAuxiliar;
                                            indicadorTres = true;

                                        }
                                   
                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorTres = true;

                                }

                            </td>
                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorCuatro == false)
                                {
                                    
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                            
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            @Html.Raw(": ")
                                        <br />
                                            string r = Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION;
                                            int a = Model.listaAsociacion.ElementAt(contador);
                                            if (Model.listaAsociacion.ElementAt(contador) == -1)
                                            {
                                                @Html.Raw(" ")

                                            }
                                            else
                                            {
                                                if (Model.reservacionesAsignadas.ElementAt(indiceReservacionesAsignadas).GUIAS_TURNO != null)
                                                {
                                                    @Html.DisplayFor(modelItem => Model.reservacionesAsignadas.ElementAt(indiceReservacionesAsignadas).GUIAS_TURNO.NOMBRETURNO)
                                                    @Html.Raw(" ")
                                                    ++indiceReservacionesAsignadas;
                                                }
                                                else
                                                {
                                                @Html.Raw(" ")
                                                }


                                            }
                                            ++contador;
                                        }
                                        else
                                        {

                                            contador = contadorAuxiliar;
                                            indicadorCuatro = true;
                                            
                                            
                                        }
                                  
                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorCuatro = true;
                                   
                                   
                                }






                            </td>


                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorCinco == false)
                                {

                                    
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                          
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            @Html.Raw(": ")
                                           <br />
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).HORA)
                                            @Html.Raw(" ")
                                            ++contador;
                                        }
                                        else
                                        {

                                            contador = contadorAuxiliar;
                                            indicadorCinco = true;
                                            
                                        }
                                  

                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorCinco = true;
                                  
                                }


                            </td>
                            <td>


                                @while (contador < Model.totalReservaciones.Count() && indicadorSeis == false)
                                {


                                  
                                       if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                       {
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION); 
                                             @Html.Raw(": ")
                                            <br />

                                        if (Model.listaAsociacion.ElementAt(contador) == -1)
                                        {
                                                  @Html.Raw(" Sin asignacion ")
                                        }
                                        else
                                        {
                                            
                                            if(Model.empleados.ElementAt(indiceEmpleados) !=null) {

                                                for (int c = 0; c < Model.empleados.ElementAt(indiceEmpleados).Count(); ++c)
                                                {
                                                   @Html.DisplayFor(modelItem => Model.empleados.ElementAt(indiceEmpleados).ElementAt(c).NOMBREEMPLEADO)
                                                   @Html.Raw(" ")
                                                   @Html.DisplayFor(modelItem => Model.empleados.ElementAt(indiceEmpleados).ElementAt(c).APELLIDO1)
                                                   @Html.Raw(" ")
                                                   @Html.DisplayFor(modelItem => Model.empleados.ElementAt(indiceEmpleados).ElementAt(c).APELLIDO2)
                                                   <br />
                                                }

                                                if (indicadorEmpleado == true)
                                                {
                                                    ++indiceEmpleados;
                                                    indicadorEmpleado = true;
                                                }


                                            }
                                        }

                                        ++contador;

                                    }
                                    else
                                    {
                                        indicadorEmpleado = false;
                                        contador = contadorAuxiliar;
                                        indicadorSeis = true;

                                    }



                                }

                             </td>
                        </tr>


                    }
                }

            </div>
        </div>
    </table>
</div>