@model GuiasOET.Models.ReportesModelo
@using System.Diagnostics;

@{
    Layout = null;
}

@functions
    {
    public int[] reservaAsignada(string numeroReservacion)
    {
        int i = 0;
        int[] asignacion = new int[2];

        while (i < Model.reservacionesAsignadas.Count && Model.reservacionesAsignadas.ElementAt(i).NUMERORESERVACION.ToString() != numeroReservacion)
        {
            ++i;
        }

        if (i < Model.reservacionesAsignadas.Count)
        {
            asignacion[0] = 1;
            asignacion[1] = i;
        }
        else
        {
            asignacion[0] = 0;
            asignacion[1] = 0;
        }

        return asignacion;

    }


    public int cantidadPersonasAtendidas(List<GuiasOET.Models.GUIAS_RESERVACION> reservaciones)
    {
        int contadorPersonas = 0;

        for (int i = 0; i < reservaciones.Count(); ++i)
        {
            ++contadorPersonas;
        }

        return contadorPersonas;

    }


}

<div class="table-responsive">
    <table class="table" id="tabla">

        <div class="row">
            <div class="col-lg-12">
                <tr>
                    <th>
                        @Html.ActionLink("Fecha", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.ReservacionSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        @Html.ActionLink("Pax", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.NombreSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        @Html.ActionLink("Clientes", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.EstacionSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>

                    <th>
                        @Html.ActionLink("Reservaciones", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.PersonasSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        @Html.ActionLink("Tour", "Consultas_reservaciones_personas", new { sortOrder = ViewBag.FechaSortParm, currentFilter1 = ViewBag.CurrentFilter1, currentFilter2 = ViewBag.CurrentFilter2 })
                    </th>
                    <th>
                        Hora
                    </th>
                    <th>
                        Guías Asignados
                    </th>
                </tr>

                @if (Model.fechasReservaciones != null)
                {
                    int contadorGeneral = 0;
                    int indice = 0;
                    int contador = 0;
                    int contadorAuxiliar = 0;
                    string hilera = "";
                    decimal totalPersonas = 0;
                    bool indicador = false;
                    bool indicadorDos = false;
                    bool indicadorTres = false;
                    bool indicadorCuatro = false;
                    bool indicadorCinco = false;
                    bool indicadorSeis = false;
                    String formatoFecha = "";

                    for (int i = 0; i < Model.fechasReservaciones.Count; ++i)
                    {
                        DateTime feD = Model.fechasReservaciones.ElementAt(i);
                        formatoFecha = String.Format("{0:d/M/yyyy}", feD).Trim();
                        Debug.WriteLine("fecha es: " + feD);
                        totalPersonas = 0;
                        contador = contadorGeneral;
                        contadorAuxiliar = contadorGeneral;
                        indicador = false;
                        indicadorDos = false;
                        indicadorTres = false;
                        indicadorCuatro = false;
                        indicadorCinco = false;
                        indicadorSeis = false;
                        string numReservacion = "";
                        <tr>
                            <td>
                               
                                @Html.Raw(formatoFecha)
                                
                            </td>
                            <td>

                                @while (contador < Model.totalReservaciones.Count() && indicador == false)
                                {

                                    if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                    {
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                            numReservacion = Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION;
                                            Debug.WriteLine("la cantidad en total reservaciones es: " + Model.totalReservaciones.Count());
                                            Debug.WriteLine("la fecha ENTRA es: " + Model.totalReservaciones.ElementAt(contador).FECHAENTRA);

                                            hilera = Model.subTotales.ElementAt(contador);
                                            Debug.WriteLine("la hilera tiene esto: " + hilera);

                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            @Html.Raw(": ")
                                            <br />

                                            List<int> numbers = new List<int>(Array.ConvertAll(hilera.Split('-'), int.Parse));



                                            for (int j = 0; j < numbers.Count(); ++j)
                                            {
                                                @Html.Raw(numbers.ElementAt(j))
                                                @Html.Raw(" ")
                                                totalPersonas = totalPersonas + numbers.ElementAt(j);

                                            }

                                            totalPersonas = (decimal)Model.totalReservaciones.ElementAt(contador).NUMEROPERSONAS;

                                            <br />
                                            ++contador;

                                        }
                                        else
                                        {
                                            contadorGeneral = contador;
                                            contador = contadorAuxiliar;
                                            indicador = true;
                                            numReservacion = "";
                                            if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                            {
                                                @Html.Raw("Total Personas: " + totalPersonas)
                                                @Html.Raw(" ")
                                            }
                                        }
                                    }
                                    else
                                    {

                                        contadorGeneral = contador;
                                        if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                        {
                                            @Html.Raw("Total Personas: " + totalPersonas)
                                            @Html.Raw(" ")
                                        }
                                        contador = contadorAuxiliar;
                                        indicador = true;
                                        numReservacion = "";

                                    }

                                    //@Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMEROPERSONAS)

                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contadorGeneral = contador;
                                    @Html.Raw("Total Personas: " + totalPersonas)
                                    @Html.Raw(" ")
                                    contador = contadorAuxiliar;
                                    indicador = true;
                                }



                            </td>
                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorDos == false)
                                {

                                    if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                    {
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                            numReservacion = Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION;
                                            Debug.WriteLine("ENTREEEE AL WHILEEEEEEEE");
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NOMBRESOLICITANTE)
                                        @Html.Raw(" ")
                                            ++contador;
                                        }
                                        else
                                        {
                                            contador = contadorAuxiliar;
                                            indicadorDos = true;
                                            numReservacion = "";
                                        }
                                    }else
                                    {
                                        contador = contadorAuxiliar;
                                        indicadorDos = true;
                                        numReservacion = "";
                                    }
                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorDos = true;
                                    numReservacion = "";
                                }


                            </td>
                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorTres == false)
                                {
                                    if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                    {
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                            numReservacion = Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION;
                                        @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION)
                                        @Html.Raw(" ")
                                            ++contador;
                                        }
                                        else
                                        {

                                            contador = contadorAuxiliar;
                                            indicadorTres = true;
                                            numReservacion = "";
                                        }
                                    }
                                    else
                                    {
                                        contador = contadorAuxiliar;
                                        indicadorTres = true;
                                        numReservacion = "";
                                    }
                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorTres = true;
                                    numReservacion = "";
                                }

                            </td>
                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorCuatro == false)
                                {
                                    if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                    {
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                            numReservacion = Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION;
                                        @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            Debug.WriteLine("reservacion en turno es: " + Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                        @Html.Raw(": ")
                                        <br />

                                            int a = Model.listaAsociacion.ElementAt(contador);
                                            if (Model.listaAsociacion.ElementAt(contador) == -1)
                                            {
                                            @Html.Raw(" ")
                                            }
                                            else
                                            {
                                                if (contador < Model.reservacionesAsignadas.Count() && Model.reservacionesAsignadas.ElementAt(contador).GUIAS_TURNO != null)
                                                {
                                                @Html.DisplayFor(modelItem => Model.reservacionesAsignadas.ElementAt(contador).GUIAS_TURNO)
                                                @Html.Raw(" ")
                                                }
                                                else
                                                {
                                                @Html.Raw(" ")
                                                }


                                            }
                                            ++contador;
                                        }
                                        else
                                        {

                                            contador = contadorAuxiliar;
                                            indicadorCuatro = true;
                                            numReservacion = "";
                                        }
                                    }else
                                    {
                                        contador = contadorAuxiliar;
                                        indicadorCuatro = true;
                                        numReservacion = "";
                                    }
                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorCuatro = true;
                                    numReservacion = "";
                                }






                            </td>


                            <td>
                                @while (contador < Model.totalReservaciones.Count() && indicadorCinco == false)
                                {

                                    if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                    {
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {


                                            numReservacion = Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION;
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            @Html.Raw(": ")
                                           <br />
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).HORA)
                                            @Html.Raw(" ")
                                            ++contador;
                                        }
                                        else
                                        {

                                            contador = contadorAuxiliar;
                                            indicadorCinco = true;
                                            numReservacion = "";
                                        }
                                    }else
                                    {
                                        contador = contadorAuxiliar;
                                        indicadorCinco = true;
                                        numReservacion = "";
                                    }

                                }

                                @if (contador >= Model.totalReservaciones.Count())
                                {
                                    contador = contadorAuxiliar;
                                    indicadorCinco = true;
                                    numReservacion = "";
                                }


                            </td>
                            <td>


                                @while (contador < Model.totalReservaciones.Count() && indicadorSeis == false)
                                {


                                    if (numReservacion.Contains(Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION) == false)
                                    {
                                        if (Model.totalReservaciones.ElementAt(contador).FECHAENTRA == feD)
                                        {
                                            @Html.DisplayFor(modelItem => Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION);
                                            @Html.Raw(": ")
                                            <br />
                                            numReservacion = Model.totalReservaciones.ElementAt(contador).NUMERORESERVACION;
                                            if (Model.listaAsociacion.ElementAt(contador) == -1)
                                            {
                                            @Html.Raw(" ")
                                            @Html.Raw(" Sin asignacion ")
                                            }
                                            else
                                            {


                                                for (int c = 0; c < Model.empleados.ElementAt(contador).Count(); ++c)
                                                {
                                            @Html.DisplayFor(modelItem => Model.empleados.ElementAt(contador).ElementAt(c).NOMBREEMPLEADO)
                                            @Html.Raw(" ")
                                            @Html.DisplayFor(modelItem => Model.empleados.ElementAt(contador).ElementAt(c).APELLIDO1)
                                            @Html.Raw(" ")
                                            @Html.DisplayFor(modelItem => Model.empleados.ElementAt(contador).ElementAt(c).APELLIDO2)
                                            <br />
                                                }
                                            }



                                            ++contador;




                                        }
                                        else
                                        {
                        
                                            contador = contadorAuxiliar;
                                            indicadorSeis = true;
                                            
                                        }
                                    }
                                    else
                                    {
                                        
                                        contador = contadorAuxiliar;
                                        indicadorSeis = true;
                                       
                                    }


                                }

                            </td>
                        </tr>


                    }
                }

            </div>
        </div>
    </table>
</div>